@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Fugaz+One&display=swap');

body {
    background-color: black;
    background-image: url(outros/wallpaper-netflix.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

section {
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    padding: 0.5px;
    margin: 20px auto;
    max-width: 900px;
}

section > p {
    text-align: center;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

article.filme {
    background-color: white;
    max-width: 340px;
    border-radius: 25px;
    padding: 15px;
    margin: 10px;
    box-shadow: 10px 10px 100px 10px rgba(0, 0, 0, 0.507);
}

img {
    width: 100%;
    border-radius: 25px;
}

h1 {
    text-align: center;
    color: rgb(202, 48, 28);
    font-family: 'Fugaz One', cursive;
    font-size: 3em;
}

* {
    line-height: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    font-family: 'Fredoka One', cursive;
    color: rgb(207, 54, 54); ;
}